html, body, h1, h2, h3, h4, h5, h6, p, ul, li, a, span, strong{
    font-family: 'PT Sans', sans-serif;
}

.left_bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
}

.logo{
    margin: 30px 0;
}

.logo img{
    margin: 0 auto;
}

.logo h1{
    margin: 0;
    padding: 7px 0 0 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.menu{
    list-style-type: none;
}

.menu li{
    padding: 15px 0;
    border-bottom: solid 1px #eee;
}

.menu li a{
    font-weight:400;
    font-size: 18px;
    color: #333;
}

.menu li.active a{
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 2px;
}

.contacts p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.contacts{
    margin-top: 50px;
}

.carousel-block{
    max-width: 100%;
    width: 100%;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-filter: grayscale(60%); 
     filter: grayscale(60%); 
}


.right_bar{
    padding-right: 0;
    padding-left: 0;
}

h2{
    padding: 15px;
    font-size: 65px;
    text-align: center;
    background: rgba(0, 0, 0, 0.49);
    color: #fff;
    position: absolute;
    top: 30%;
   /* left: 10%;*/
    width: 80%;
    margin-left: 10% ;
}

.service img {  
     -webkit-filter: grayscale(100%); 
     filter: grayscale(100%);
    width: 100%;
}  

.service img:hover {  
     -webkit-filter: grayscale(0%);
     filter: grayscale(0%);
     cursor: pointer;
}  

.service.row{
    margin-right: 0px;
    margin-left: 0px;
    background: #000 url(../img/bg-service.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 50px 0 30px 0;
}


.service .title{
    background: #fff;
    border-bottom: solid 3px #127f5e;
}
.service .title a{
    color: #127f5e;
}


.service p, .service .title h4{
    margin: 0;
    padding: 0;
}

.service .title p{
    padding: 10px 0;
}

.service .title h4{
    padding: 10px 0 0 0;
}

h3{
    font-weight: 600;
}

.address{
    border: solid 2px #eee;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
     /*-webkit-filter: brightness(50%);   */
}

address {
    margin-bottom: 10px;
    font-style: normal;
    line-height: 1.42857143;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}

footer{
    padding: 30px 0;
}

footer h6{
    font-size: 14px;
}


footer h6 a{
    color: #333;
    text-decoration: underline;
}

/*gallary*/
.header{
    min-height: 200px;
    background-image: url(../img/bani.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-filter: grayscale(60%); 
    filter: grayscale(60%);
    position: relative;
}

.header h2{
    top:10%;
    position: absolute;
    font-size: 50px;
}

.gallary img {  
     -webkit-filter: grayscale(100%); 
     filter: grayscale(100%);
    width: 100%;
}  

.gallary img:hover {  
     -webkit-filter: grayscale(0%);
     filter: grayscale(0%);
     cursor: pointer;
}  

.gallary.row{
    margin-right: 0px;
    margin-left: 0px;
    padding: 50px 15px 30px 15px;
}


.gallary div.block_img{
    padding-top: 15px;
}

.gallary div.block_img:nth-child(4n-3){
    padding-left: 0px;
}

.gallary div.block_img:nth-child(3n){
    padding-right: 0px;
}

.gallary{
    border-bottom: solid 2px #eee;
}

/*gallary*/