/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.09.2016, 14:57:18
    Author     : webmaster
*/

@media screen and (max-width:1200px){
    .carousel-block {
        max-height: 650px;
    }  
    h2 {
        font-size: 45px;
    }
}

@media screen and (max-width:768px){
    .carousel-block {
        max-height: 500px;
    }  
    h2 {
        font-size: 35px;
    }
}

@media screen and (max-width:420px){
    .left_bar {
        padding: 5px;
    }
    
    .logo {
        margin: 5px 0;
    }
    
    .logo h1 {
        padding: 5px 0 0 0;
        font-size: 14px;
    }
    
    .menu {
        padding: 0px 0 0 10px;
    }
    
    .menu li {
        padding: 5px 0;
    }
    
    .menu li a {
        font-size: 12px;
    }
    
    .contacts p {
        font-size: 12px;
        font-weight: 300;
    }
    
    .contacts {
        margin-top: 15px;
    }
    
    .carousel-block {
        max-height: 210px;
    }  
    
    h2 {
        font-size: 14px;
        top:15%
    }
    
    h3 {
        font-weight: 300;
        font-size: 14px;
        margin:5px 0;
    }
    
    .service .title h4 {
        padding: 5px 0 0 0;
        font-size: 14px;
    }
    
    .service .title p {
        padding: 5px 0;
        font-size: 14px;
    }
    
    address {
        font-size: 12px;
    }
    
    footer {
        padding: 10px 0;
    }
}